In [2]:
import requests
import pandas as pd

In [8]:
url = "https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest"
headers = {
    "Accepts": "application/json",
    "X-CMC_PRO_API_KEY": "49f9d121-9924-4b11-84b8-9b49b3497676",
}
# The API only allows us to get at max 5000 coins back as a response.
parameters = {
    "limit": "5000",
    "convert": "USD"
}

response = requests.get(url, headers=headers, params=parameters)

data = response.json()["data"]
df = pd.json_normalize(data, sep="_")
df

,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,...,quote_USD_market_cap,quote_USD_market_cap_dominance,quote_USD_fully_diluted_market_cap,quote_USD_tvl,quote_USD_last_updated,platform_id,platform_name,platform_symbol,platform_slug,platform_token_address
0,1,Bitcoin,BTC,bitcoin,9997,2013-04-28T00:00:00.000Z,"[mineable, pow, sha-256, store-of-value, state...",2.100000e+07,1.931006e+07,1.931006e+07,...,4.349163e+11,42.2825,4.729784e+11,NaN,2023-03-06T19:09:00.000Z,NaN,NaN,NaN,NaN,NaN
1,1027,Ethereum,ETH,ethereum,6520,2015-08-07T00:00:00.000Z,"[pos, smart-contracts, ethereum-ecosystem, coi...",NaN,1.223739e+08,1.223739e+08,...,1.927040e+11,18.7347,1.927040e+11,NaN,2023-03-06T19:09:00.000Z,NaN,NaN,NaN,NaN,NaN
2,825,Tether,USDT,tether,48805,2015-02-25T00:00:00.000Z,"[payments, stablecoin, asset-backed-stablecoin...",NaN,7.147947e+10,7.314177e+10,...,7.148030e+10,6.9493,7.314261e+10,NaN,2023-03-06T19:09:00.000Z,1027.0,Ethereum,ETH,ethereum,0xdac17f958d2ee523a2206206994597c13d831ec7
3,1839,BNB,BNB,bnb,1206,2017-07-25T00:00:00.000Z,"[marketplace, centralized-exchange, payments, ...",NaN,1.578940e+08,1.599800e+08,...,4.558976e+10,4.4325,4.619206e+10,NaN,2023-03-06T19:09:00.000Z,NaN,NaN,NaN,NaN,NaN
4,3408,USD Coin,USDC,usd-coin,10455,2018-10-08T00:00:00.000Z,"[medium-of-exchange, stablecoin, asset-backed-...",NaN,4.375016e+10,4.375016e+10,...,4.375093e+10,4.2537,4.375093e+10,NaN,2023-03-06T19:09:00.000Z,1027.0,Ethereum,ETH,ethereum,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,22125,Mythos,MYTH,mythos,9,2022-10-10T05:37:02.000Z,"[gaming, animoca-brands-portfolio]",1.000000e+09,0.000000e+00,1.000000e+09,...,0.000000e+00,0.0000,1.009596e+09,NaN,2023-03-06T19:09:00.000Z,1027.0,Ethereum,ETH,ethereum,0xba41ddf06b7ffd89d1267b5a93bfef2424eb2003
4996,19783,Marble Heroes,MBH,marble-heroes,2,2022-04-26T14:11:33.000Z,[],5.500000e+08,0.000000e+00,5.500000e+08,...,0.000000e+00,0.0000,6.334745e+04,NaN,2023-03-06T19:09:00.000Z,1839.0,BNB,BNB,bnb,0x9D9F777D0f9c1dC2851606611822ba002665E0BF
4997,16035,Crypto Fight Club,FIGHT,crypto-fight-club,7,2021-12-14T07:53:39.000Z,[],1.000000e+09,0.000000e+00,1.000000e+09,...,0.000000e+00,0.0000,8.072084e+05,NaN,2023-03-06T19:09:00.000Z,1839.0,BNB,BNB,bnb,0x4f39c3319188A723003670c3F9B9e7EF991E52F3
4998,11708,Antex,ANTEX,antex,19,2021-09-07T01:30:34.000Z,[],1.000000e+11,0.000000e+00,1.000000e+11,...,0.000000e+00,0.0000,9.375552e+05,NaN,2023-03-06T19:09:00.000Z,1839.0,BNB,BNB,bnb,0xca1acab14e85f30996ac83c64ff93ded7586977c
4999,23068,Murasaki,MURA,murasaki,3,2022-12-26T01:19:13.000Z,[],1.000000e+09,0.000000e+00,1.000000e+09,...,0.000000e+00,0.0000,4.082258e+08,NaN,2023-03-06T19:09:00.000Z,1839.0,BNB,BNB,bnb,0x166295ebd6a938c7aaf61350eb5161a9939ab2b7

In [12]:
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:.2f}'.format)
df

,id,name,symbol,slug,num_market_pairs,date_added,tags,max_supply,circulating_supply,total_supply,platform,cmc_rank,self_reported_circulating_supply,self_reported_market_cap,tvl_ratio,last_updated,quote_USD_price,quote_USD_volume_24h,quote_USD_volume_change_24h,quote_USD_percent_change_1h,quote_USD_percent_change_24h,quote_USD_percent_change_7d,quote_USD_percent_change_30d,quote_USD_percent_change_60d,quote_USD_percent_change_90d,quote_USD_market_cap,quote_USD_market_cap_dominance,quote_USD_fully_diluted_market_cap,quote_USD_tvl,quote_USD_last_updated,platform_id,platform_name,platform_symbol,platform_slug,platform_token_address
0,1,Bitcoin,BTC,bitcoin,9997,2013-04-28T00:00:00.000Z,"[mineable, pow, sha-256, store-of-value, state...",21000000.00,19310062.00,19310062.00,NaN,1,NaN,NaN,NaN,2023-03-06T19:09:00.000Z,22522.78,16905342354.67,26.83,0.10,0.35,-3.25,-3.98,33.71,32.63,434916287751.43,42.28,472978390373.89,NaN,2023-03-06T19:09:00.000Z,NaN,NaN,NaN,NaN,NaN
1,1027,Ethereum,ETH,ethereum,6520,2015-08-07T00:00:00.000Z,"[pos, smart-contracts, ethereum-ecosystem, coi...",NaN,122373866.22,122373866.22,NaN,2,NaN,NaN,NaN,2023-03-06T19:09:00.000Z,1574.71,5350599031.04,6.94,0.03,0.37,-2.81,-6.20,25.88,25.88,192703952144.96,18.73,192703952144.96,NaN,2023-03-06T19:09:00.000Z,NaN,NaN,NaN,NaN,NaN
2,825,Tether,USDT,tether,48805,2015-02-25T00:00:00.000Z,"[payments, stablecoin, asset-backed-stablecoin...",NaN,71479468181.54,73141766321.23,NaN,3,NaN,NaN,NaN,2023-03-06T19:09:00.000Z,1.00,24369375424.36,20.67,0.00,-0.01,-0.01,-0.01,0.03,-0.00,71480295058.05,6.95,73142612427.25,NaN,2023-03-06T19:09:00.000Z,1027.00,Ethereum,ETH,ethereum,0xdac17f958d2ee523a2206206994597c13d831ec7
3,1839,BNB,BNB,bnb,1206,2017-07-25T00:00:00.000Z,"[marketplace, centralized-exchange, payments, ...",NaN,157893974.24,159979963.59,NaN,4,NaN,NaN,NaN,2023-03-06T19:09:00.000Z,288.74,360002961.33,15.69,0.15,-0.53,-4.28,-12.79,12.24,0.14,45589761965.03,4.43,46192063342.23,NaN,2023-03-06T19:09:00.000Z,NaN,NaN,NaN,NaN,NaN
4,3408,USD Coin,USDC,usd-coin,10455,2018-10-08T00:00:00.000Z,"[medium-of-exchange, stablecoin, asset-backed-...",NaN,43750162864.79,43750162864.79,NaN,5,NaN,NaN,NaN,2023-03-06T19:09:00.000Z,1.00,2941924796.35,20.36,-0.00,0.00,0.01,-0.01,0.00,0.01,43750928491.10,4.25,43750928491.10,NaN,2023-03-06T19:09:00.000Z,1027.00,Ethereum,ETH,ethereum,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,22125,Mythos,MYTH,mythos,9,2022-10-10T05:37:02.000Z,"[gaming, animoca-brands-portfolio]",1000000000.00,0.00,1000000000.00,NaN,4996,NaN,NaN,NaN,2023-03-06T19:09:00.000Z,1.01,8874.87,69.76,-0.02,0.11,-3.82,1.36,26.25,14.19,0.00,0.00,1009596021.47,NaN,2023-03-06T19:09:00.000Z,1027.00,Ethereum,ETH,ethereum,0xba41ddf06b7ffd89d1267b5a93bfef2424eb2003
4996,19783,Marble Heroes,MBH,marble-heroes,2,2022-04-26T14:11:33.000Z,[],550000000.00,0.00,550000000.00,NaN,4997,7588368.00,874.01,NaN,2023-03-06T19:09:00.000Z,0.00,8814.52,-53.98,-3.46,-13.69,-48.10,56.64,246.99,94.11,0.00,0.00,63347.45,NaN,2023-03-06T19:09:00.000Z,1839.00,BNB,BNB,bnb,0x9D9F777D0f9c1dC2851606611822ba002665E0BF
4997,16035,Crypto Fight Club,FIGHT,crypto-fight-club,7,2021-12-14T07:53:39.000Z,[],1000000000.00,0.00,1000000000.00,NaN,4998,281421792.00,227166.05,NaN,2023-03-06T19:09:00.000Z,0.00,8804.88,-25.27,0.27,-0.29,-26.74,19.30,16.05,-22.69,0.00,0.00,807208.44,NaN,2023-03-06T19:09:00.000Z,1839.00,BNB,BNB,bnb,0x4f39c3319188A723003670c3F9B9e7EF991E52F3
4998,11708,Antex,ANTEX,antex,19,2021-09-07T01:30:34.000Z,[],100000000000.00,0.00,100000000000.00,NaN,4999,9781718426.79,91709.01,NaN,2023-03-06T19:09:00.000Z,0.00,8789.26,-12.81,-0.40,1.99,9.10,3.23,45.95,16.88,0.00,0.00,937555.19,NaN,2023-03-06T19:09:00.000Z,1839.00,BNB,BNB,bnb,0xca1acab14e85f30996ac83c64ff93ded7586977c
4999,23068,Murasaki,MURA,murasaki,3,2022-12-26T01:19:13.000Z,[],1000000000.00,0.00,1000000000.00,NaN,5000,370000.00,151043.55,NaN,2023-03-06T19:09:00.000Z,0.41,8763.37,3.47,-0.29,-33.79,-37.28,-2.31,54.28,35.99,0.00,0.00,408225821.18,NaN,2023-03-06T19:09:00.000Z,1839.00,BNB,BNB,bnb,0x166295ebd6a938c7aaf61350eb5161a9939ab2b7

In [13]:
kept_columns = ['name', 'slug', 'quote_USD_price', 'quote_USD_volume_24h', 'quote_USD_volume_change_24h', \
                'quote_USD_percent_change_1h', 'quote_USD_percent_change_24h', 'quote_USD_percent_change_7d', \
                'quote_USD_percent_change_30d',	'quote_USD_percent_change_60d',	'quote_USD_percent_change_90d', \
                'quote_USD_market_cap']
data = df[kept_columns]
data.rename(columns = {
    'quote_USD_price': 'price',
    'quote_USD_volume_24h': 'volume_24h',
    'quote_USD_volume_change_24h': 'volume_change_24h',
    'quote_USD_percent_change_1h': 'percent_change_1h',
    'quote_USD_percent_change_24h': 'percent_change_24h',
    'quote_USD_percent_change_7d': 'percent_change_7d',
    'quote_USD_percent_change_30d': 'percent_change_30d',
    'quote_USD_percent_change_60d': 'percent_change_60d',
    'quote_USD_percent_change_90d': 'percent_change_90d',
    'quote_USD_market_cap': 'market_cap'
})

,name,slug,price,volume_24h,volume_change_24h,percent_change_1h,percent_change_24h,percent_change_7d,percent_change_30d,percent_change_60d,percent_change_90d,market_cap
0,Bitcoin,bitcoin,22522.78,16905342354.67,26.83,0.10,0.35,-3.25,-3.98,33.71,32.63,434916287751.43
1,Ethereum,ethereum,1574.71,5350599031.04,6.94,0.03,0.37,-2.81,-6.20,25.88,25.88,192703952144.96
2,Tether,tether,1.00,24369375424.36,20.67,0.00,-0.01,-0.01,-0.01,0.03,-0.00,71480295058.05
3,BNB,bnb,288.74,360002961.33,15.69,0.15,-0.53,-4.28,-12.79,12.24,0.14,45589761965.03
4,USD Coin,usd-coin,1.00,2941924796.35,20.36,-0.00,0.00,0.01,-0.01,0.00,0.01,43750928491.10
...,...,...,...,...,...,...,...,...,...,...,...,...
4995,Mythos,mythos,1.01,8874.87,69.76,-0.02,0.11,-3.82,1.36,26.25,14.19,0.00
4996,Marble Heroes,marble-heroes,0.00,8814.52,-53.98,-3.46,-13.69,-48.10,56.64,246.99,94.11,0.00
4997,Crypto Fight Club,crypto-fight-club,0.00,8804.88,-25.27,0.27,-0.29,-26.74,19.30,16.05,-22.69,0.00
4998,Antex,antex,0.00,8789.26,-12.81,-0.40,1.99,9.10,3.23,45.95,16.88,0.00
4999,Murasaki,murasaki,0.41,8763.37,3.47,-0.29,-33.79,-37.28,-2.31,54.28,35.99,0.00